*{
    margin: 0;
    padding: 0;
}

body {
	background: url("pakier.jpg")no-repeat; 
	font-family: 'Trade Winds';
	background-size: cover;
    background-attachment: fixed;
}
#nazwa{
    width: 100%;
	color: white;
	background: black;
	font-size: 40px;
	height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
	text-align: center;
    box-shadow: 1px 1px 12px 1px #000000;
    margin-bottom: 15px;
}
#menu a{   
    text-decoration: none;
	color: white;
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    width: 100%;
}
#menu a:hover {
    transition: all 0.3s;
	color: red;
    background: rgba(0,0,0,.5);
}

#menu {
    border-radius: 15px;
	color: white;
	margin: auto;
	font-size: 40px;
	width: 50%;
    overflow: hidden;
	text-align:center;
    display: flex;
    background: rgba(0,0,0,.0);
    justify-content: center;
    flex-flow: column;
    list-style: none;
    
}
#onas {
	color: white;
	margin: auto;
	font-size: 40px;
	text-align:center;
	width: 50%;
	
}
#info {
	color: white;
	margin: auto;
	Font-size: 40px;
	text-align: center;
	width: 50%; 
	
}

#men {
	color: white;
	margin: auto;
	font-size: 35px;
	text-align: center;
	width: 100%;
}
#yt {
	width:30%;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	
	
}
#re{
	width:30%;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
#it{
	width:30%;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
#pos1 {
	color: red;
	padding: 0 15px; 
	font-size: 23px;
	text-align: center;
	width: 400px;
}

#seb{
	width: 80%;
	margin: auto;
	display: flex;
}

#adi {
	color: white;
	margin: auto;
	font-size: 32px;
	text-align: center;
	width: 100%;
	background: rgba(0,0,0,.3);
}
#mat {
	color: white;
	margin-left: 40%;
	margin-top: 15%;
	text-align: center;
	width: 20%;
	font-size: 28px;
	background: rgba(0,0,0,.3);
}

#God {
	color: white;
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 34px;
}
#pon {
	color: white;
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 25px;
}
#kon {
	color: white;
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 34px;
}#bon {
	color: white;
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 25px;
}#lon {
	color: white;
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 34px;
}
#jon {
	color: white;
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 25px;
}
#lo3 {
	
	width: 350px;
	height: 350px;
	margin: 0 auto; 
	position: relative; 
	
}
#ty {
	width: 350px;
	height: 350px;
	margin: 0 auto; 
	position: relative; 
	
}
#bo {
	width: 350px;
	height: 350px;
	margin: 0 auto; 
	position: relative; 
}
#formularzx {
	color: white;
	margin: auto;
	font-size: 40px;
	width: 50%;
	text-align:center;
	background: rgba(0,0,0,.3);
}
#formularz{
	color: black;
	margin: auto;
	text-align: center left;
	width: auto;
	font-size: 34px;
	margin-left: 25%;
	background: rgba(0,0,0,.3);
}


#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 80px;
    background: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -2px 10px 1px #251830;
}

